#root {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh; /* Hauteur minimale pour remplir l'écran */
}

@media (max-width: 768px) {
	#root {
	}
}
@media (max-width: 480px) {
	#root {
	}
}
