@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(221, 220, 227, 0.87);
    background-color: #EFF2FF;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* cette manière de faire est issue de la documentation tailwind 
https://tailwindcss.com/docs/font-family
*/
@layer base {
    html {
        font-family: "Red Hat Display", sans-serif;
    }
}


.box:hover {
    animation: 1s ping;
}

.logo {
    animation: 3s ease-in forwards logo;
}

.title {
    animation: 1s ease-out forwards title;
}

/*My own animation*/

@keyframes ping {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes logo {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

/* Animation for the md screen mais create the same for the small screen */
@keyframes title {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
